---
import { projects } from "../../constants";
---

<section>
  <!-- <div
  class={`relative h-screen  bg-[linear-gradient(to_top,rgba(0,0,0,1),transparent),url('/homepage/hero-image.jpg')] bg-cover bg-center`}
  > -->
  <div class={`relative h-screen overflow-hidden`}>
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute inset-0 w-full h-full object-cover"
    >
      <source src="/videos/home_screen_video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div
      class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black/40"
    >
    </div>
    <div
      class="absolute bottom-10 md:bottom-0 p-6 w-full flex items-center justify-center"
    >
      <div class="shrink-0">
        <p class="title-tag text-white tracking-[0.4em] ml-1 text-center">
          ZOOK STUDIO
        </p>
        <h1
          class="hero-heading w-full text-white text-center text-4xl font-bold md:text-start md:text-7xl md:font-light"
        >
          Bringing the home of <br /> your dream to reality.
        </h1>
      </div>

      <!-- <div class="flex items-center gap-4">
        <img src="/homepage/image-1.jpg" alt="" class="w-1/4" />
        <img src="/homepage/image-2.jpg" alt="" class="w-1/4" />
        <img src="/homepage/image-3.jpg" alt="" class="w-1/4" />
      </div> -->
    </div>
  </div>
  <!-- section 2 -->
  <div
    class="content relative text-center h-screen flex flex-col items-center justify-center px-6"
  >
    <div
      class="content-white-bg absolute bg-white h-full w-full top-0 left-0 translate-y-400"
    >
    </div>
    <p
      class="para max-w-4xl mx-auto text-white text-3xl md:text-6xl font-semibold md:leading-12 mix-blend-difference"
    >
      With unlimited creativity, <em class="font-thin"
        >we transform your vision into reality, inviting you to</em
      > discover a universe of unique and memorable <em class="font-thin"
        >experiences</em
      >.
    </p>
    <p
      class="para max-w-2xl md:max-w-xl mx-auto text-white text-md font-light mt-10 mix-blend-difference"
    >
      Every detail is designed to capture the essence of your style and turn the
      space into a reflection of your own identity.
    </p>
  </div>

  <!-- about section -->

  <div class="about-section text-white py-20 md:py-28 px-2">
    <div class="grid grid-cols-1 gap-y-10 md:gap-0 md:grid-cols-2 items-center">
      <div class="relative about-image justify-self-center">
        <img
          src="/homepage/about-team.png"
          alt=""
          class="h-80 md:h-140 bg-black"
        />

        <!-- Left gradient -->
        <div
          class="absolute inset-y-0 left-0 w-1/5 bg-gradient-to-r from-black to-transparent"
        >
        </div>

        <!-- Right gradient -->
        <div
          class="absolute inset-y-0 right-0 w-1/5 bg-gradient-to-l from-black to-transparent"
        >
        </div>
      </div>

      <div>
        <h3
          class="about-tagline text-3xl md:text-5xl font-bold max-w-2xl mb-14 leading-tight"
        >
          Together we turn every challenge into an opportunity to create unique
          spaces.
        </h3>
        <p
          class="about-description max-w-xl text-lg md:text-2xl font-semibold mb-14"
        >
          Each member bring <em class="font-light">a distinct touch</em>. It is
          synergy the one that allow us to deliver experiences that <em
            class="font-light">are not just see, but felt and lived.</em
          >
        </p>
      </div>
    </div>
  </div>
  <!-- section -3 detailsmatters sections -->
  <section class="details">
    <div class="min-h-screen py-10 md:py-28 px-2 md:px-6 container mx-auto">
      <div class="mb-16 md:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-5">
          <div class="md:col-span-8">
            <h2
              class="details-header text-4xl font-bold md:text-6xl egra text-white"
            >
              Where every details matters <span class="text-white">-</span>
              From design to reality
            </h2>
          </div>
          <!-- <div
            class="sub-content md:col-span-4 space-y-5 flex flex-col justify-between;"
          >
            <p class="text-lg">
              Every cocktail we serve is a reflection of our obsession with
              detail — from the first muddle to the final garnish. That care is
              what turns a simple drink into something truly memorable.{" "}
            </p>
          </div> -->
        </div>
      </div>
      <div
        class="top-grid grid grid-cols-1 xl:grid-cols-12 gap-5 mb-5 md:px-0 px-5"
      >
        <div class="rounded-3xl overflow-hidden h-50 relative md:col-span-3">
          <div class="noisy"></div>
          <img
            src="/homepage/hero_image.jpg"
            alt="grid-img-1"
            class="object-cover w-full h-full"
          />
        </div>

        <div class="rounded-3xl overflow-hidden h-50 relative md:col-span-6">
          <div class="noisy"></div>
          <img
            src="/homepage/hero-image.jpg"
            alt="grid-img-2"
            class="object-cover w-full h-full"
          />
        </div>

        <div class="rounded-3xl overflow-hidden h-50 relative md:col-span-3">
          <div class="noisy"></div>
          <img
            src="/homepage/image-1.jpg"
            alt="grid-img-5"
            class="object-cover w-full h-full"
          />
        </div>
      </div>
      <div
        class="bottom-grid grid grid-cols-1 md:grid-cols-12 gap-5 md:px-0 px-5"
      >
        <div class="rounded-3xl overflow-hidden h-50 relative md:col-span-8">
          <div class="noisy"></div>
          <img
            src="/homepage/image-2.jpg"
            alt="grid-img-3"
            class="object-cover w-full h-full"
          />
        </div>
        <div class="rounded-3xl overflow-hidden h-50 relative md:col-span-4">
          <div class="noisy"></div>
          <img
            src="/homepage/image-3.jpg"
            alt="grid-img-4"
            class="object-cover w-full h-full"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- project sections -->

  <section
    id="project-section"
    class="min-h-screen py-10 md:py-28 px-2 md:px-6 container mx-auto text-white"
  >
    <h2
      class="projects-heading text-5xl md:text-7xl text-white uppercase font-bold mb-10"
    >
      Our Projects
    </h2>
    <div class="projects hidden md:grid grid grid-cols-12 items-start">
      <div class="col-span-6"></div>
      <div class="col-span-3 ml-2 border-b border-white/40">
        <p class="text-white/40">Prize</p>
      </div>
      <div class="col-span-3 border-b border-white/40">
        <p class="text-white/40">Project</p>
      </div>
    </div>

    <div>
      {
        projects.map((project, index) => (
          <div
            class={`projects project-${index + 1} grid grid-cols-1 md:grid-cols-12 gap-x-4 gap-y-4 md:gap-y-0  items-start  `}
          >
            <div class="md:col-span-2 flex items-center justify-between p-2 px-4 bg-white/20 text-white rounded-md ">
              <p>0{index + 1}</p>
              <p>{project.year}</p>
            </div>
            <div class="md:col-span-4">
              <img
                src={project.image}
                alt="project-1"
                class="rounded-lg border-5 border-white/20 h-70 w-full cover"
              />
            </div>
            <div class="hidden md:block md:col-span-3 py-4">
              <h3 class="text-4xl tracking-[-3px] mb-20">{project.title}</h3>
              <a
                href={`/project/${index + 1}`}
                class=" inline-block relative uppercase mt-auto p-2 border border-white/20 overflow-hidden
         before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-0
         before:bg-white/20 before:transition-all before:duration-300 before:ease-in-out
         hover:before:w-full"
              >
                Discover The Project &rarr;
              </a>
            </div>
            <div class="hidden md:block md:col-span-3 py-4 font-[200]">
              <p class="mb-20">{project.projectTitle}</p>
              <p>{project.description}</p>
            </div>
            <div class="block md:hidden">
              <h3 class="text-4xl tracking-[-3px] mb-6 font-light">
                {project.title}
              </h3>
              <p class="mb-2 text-xl text-white/50">
                Project -
                <span class="font-light  mb-4">{project.projectTitle}</span>
              </p>
              <p class="mb-14 text-sm tracking-[-0.1px]">
                {project.description}
              </p>
              <a
                href={`/project/${index + 1}`}
                class=" inline-block relative uppercase mt-auto p-2 border border-white/20 overflow-hidden
         before:content-[''] before:absolute before:top-0 before:left-0 before:h-full before:w-0
         before:bg-white/20 before:transition-all before:duration-300 before:ease-in-out
         hover:before:w-full mb-14"
              >
                Discover The Project <span class="ml-2">&rarr;</span>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger, SplitText } from "gsap/all";
  gsap.registerPlugin(ScrollTrigger, SplitText);

  const titleSplit = SplitText.create(".hero-heading", { type: "words,chars" });
  const titelTagSplit = SplitText.create(".title-tag", { type: "chars" });
  gsap.from(titelTagSplit.chars, {
    opacity: 0,
    duration: 1,
    yPercent: 100,
    ease: "expo.out",
    stagger: 0.02,
  });
  gsap.from(titleSplit.chars, {
    opacity: 0,
    duration: 1,
    delay: 0.5,
    yPercent: 100,
    ease: "expo.out",
    stagger: 0.01,
  });

  const scrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".content",
      start: "top center",
    },
  });

  // const paraSplit = SplitText.create(".para", { type: "lines,chars" });

  // scrollTimeline.from(paraSplit.lines, {
  //   opacity: 0,
  //   duration: 1.5,
  //   yPercent: 300,
  //   ease: "expo.out",
  //   stagger: 0.01,
  // });

  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".content",
        start: "top top",
        end: "bottom top",
        scrub: 1,
        pin: true,
      },
    })
    .to(".content-white-bg", { y: 0, opacity: 1 });

  // about section

  const aboutScrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".about-section",
      start: "top center",
    },
  });

  aboutScrollTimeline.from(".about-image", {
    opacity: 0,
    xPercent: -200,
    scale: 0,
    duration: 1,
    ease: "expo.out",
  });
  const taglineSplitText = SplitText.create(".about-tagline", {
    type: "lines",
  });
  const aboutDescriptionSplitText = SplitText.create(".about-description", {
    type: "lines",
  });
  aboutScrollTimeline.from(
    taglineSplitText.lines,
    {
      opacity: 0,
      yPercent: 100,
      duration: 1,
      ease: "expo.out",
      stagger: 0.02,
    },
    "-=70%"
  );
  aboutScrollTimeline.from(
    aboutDescriptionSplitText.lines,
    {
      opacity: 0,
      yPercent: 100,
      duration: 1,
      ease: "expo.out",
      stagger: 0.02,
    },
    "-=70%"
  );
  // details scroll animation

  const detailsScrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".details",
      start: "top center",
    },
  });

  const detailsHeaderSplit = SplitText.create(".details-header", {
    type: "lines,chars",
  });

  detailsScrollTimeline
    .from(detailsHeaderSplit.lines, {
      opacity: 0,
      duration: 1,
      yPercent: 80,
      ease: "expo.out",
      stagger: 0.02,
    })
    .from(
      ".top-grid , .bottom-grid",
      {
        opacity: 0,
        duration: 1,
        yPercent: 100,
        ease: "expo.out",
        stagger: 0.02,
      },
      "-=70%"
    );

  detailsScrollTimeline;

  //projects
  const projectsTitleSplit = SplitText.create(".projects-heading", {
    type: "words,chars",
  });
  const projectsScrollTimeline = gsap.timeline({
    scrollTrigger: {
      trigger: "#project-section",
      start: "top center",
    },
  });
  projectsScrollTimeline.from(projectsTitleSplit.chars, {
    opacity: 0,
    duration: 1,
    yPercent: 100,
    ease: "expo.out",
    stagger: 0.01,
  });
  projectsScrollTimeline.from(
    ".project-1 ",
    {
      opacity: 0,
      duration: 0.5,
      yPercent: 100,
      ease: "expo.out",
    },
    "-=70%"
  );
  projectsScrollTimeline.from(" .project-2 ", {
    opacity: 0,
    duration: 0.5,
    yPercent: 100,
    ease: "expo.out",
  });
  projectsScrollTimeline.from(" .project-3", {
    opacity: 0,
    duration: 0.5,
    yPercent: 100,
    ease: "expo.out",
  });
</script>
